@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Lobster|Titan+One');
div{
    position: initial;
    float: left;
}
#Vision, #Mision, #Valores, #Objetivos {
    height: 100%;
    width: 100%;
    background: url(../Resourses/Images/b1.jpg);
    border-color: transparent;
    font-family: 'Lobster', cursive;
    color: white;
    font-size: 30px;
}
#Vision:hover, #Mision:hover, #Objetivos:hover, #Valores:hover {
    color: white;
    border-color: transparent;
    background: url(../Resourses/Images/b2.jpg);
    cursor: pointer;
    font-size: 36px;
}
h1, h2{
    font-family: 'Titan One', cursive;
}
img.h:hover{
border: 0px;
width: 300px;
height: 250px;
border-radius: 49%;
box-shadow: 1px 5px 12px 0px black;
}
p, ul{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    text-align: justify;
}
.cuadro{
    height: 95%;
    width: 70%;
    background: rgba(252, 252, 252, 0.7);
    border-radius: 8%;
}
.cabecera{
    height: 15%;
    width: 100%;
    border-radius: 8%;
    background: transparent;
}
.atras{
    height: 112%;
    background: url(../Resourses/Images/fondos/F.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
}
.menu{
    box-shadow: 1px 5px 12px 0px black;
}

