
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Kameron');
body{
    background-image: url(../Resourses/Images/fondos/empre2.jpg);
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
}
div{
    position: initial;
    float: left;
}
#Vision, #Mision, #Valores, #Objetivos {
    height: 150%;
    width: 105%;
    background-color: #660033;
    border-color: transparent;
    font-family:'Poiret One';
    color: white;
    font-size: 30px;
    -webkit-transition: color 1s, background-color 1s;
}
#Vision:hover, #Mision:hover, #Objetivos:hover, #Valores:hover {
    color: #660033;
    background-color: white;
    border-color: transparent;
    cursor: pointer;
    font-size: 36px;
}
h1, h2{
    font-family:'Jura';
    padding-left: 30px;
    padding-right: 30px;
}
#loguito{
    width: 10vw;
    height: 10vw;
    margin: 3%;
}
#loguito2{
    width: 13vw;
    height: 10vw;
    margin: 3%;
}
#loguito3{
    width: 20vw;
    height: 10vw;
    margin: 3%;
}
img.h:hover{
border: 0px;
width: 300px;
height: 250px;
border-radius: 49%;
box-shadow: 1px 5px 12px 0px black;
}
p, ul{
    font-family:'Kameron';
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
    text-align: justify;
}
.cuadro{
    width: 70%;
    background: rgba(252, 252, 252, 0.5);
    border-radius: 2%;
    margin-left: 15%;
}
.cabecera{
    height: 15%;
    width: 100%;
}
.menu{
    box-shadow: 1px 5px 12px 0px black;
    height: 5%; 
    width: 99%; 
    background-color: rgb(11, 114, 161);

}

.dir{
    height: 100%; 
    width: 25%;
}