@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');

body{
    background-image: url(../Resourses/Images/fondos/FPaseos2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*{
    margin: 0;
    padding: 0;
    font-size: 20px;
    
}
#map{
    
     height: 500px;
        width: 700px;
        background-color: azure;
}
section#banner{
    width: 100%;
    height: 100vh;
    background-image: url(../Resourses/Images/fondos/FPaseos.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: table
}
header{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: transparent;
    -webkit-transition: background-color .5s;
}
nav{
    display: table;
    margin: auto;
    
    margin-top: 15px;
    -webkit-transition: margin-left .5s;
}
ul {
    display: block;
    float: left;
    list-style: none;
}
ul a{
    color:black;
    text-decoration: none;
    font-size: 1.5em;
    font-family: 'Berkshire Swash', cursive;
}
ul li{
    float: left;
    margin: 10px;
    padding: 2px;
}
img#logo{
    float: left;
    height: 300px;
    width: 250px;
    display: block;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 120px;
    -webkit-transition: width.5s, height.5s, margin-right.5s, margin-top.5s;
}
.ABC{
    -webkit-box-shadow:  0px 15px 20px black;
    -webkit-border-radius: 20%;
}
li{
    text-shadow: 1px 1px 10px white;
}
