
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang');
@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    padding: 0;
    margin:0;
    font-family: 'Poppins';
    font-size: 13px;
}
body{
    background-image: url("../Resourses/Images/fondos/FRegistroPerdida.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#central{
    background: rgba(63,191,191,0.6); 
    box-shadow: 1px 1px 10px 0px black;
    padding: 25px;
    height: 80vh; 
    width: 60vw;
    margin: auto;
    margin-top: 7vh;
}

p {
  font-family: "Arial Black";
  font-size: 33px;
  margin: 0;

  color: transparent;
  text-shadow: 0 0 10px orange;
  text-align: center;
  letter-spacing: 2px;
  animation-name: focus;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes focus {
  0% {
    text-shadow: 0 0 30px #547c77, 0 20px 50px #16211f;
    letter-spacing: 10px;
  }
  50% {
    text-shadow: 0 0 0 #547c77;
    font-size: 34px;
    letter-spacing: 2px;
  }
  75% {
    text-shadow: 0 0 0 #547c77;
    font-size: 34px;
    letter-spacing: 2px;
  }
  100% {
    text-shadow: 0 0 0 #547c77;
    font-size: 34px;
    letter-spacing: 2px;
  }
}
#otro{
    height: 60px;
    position : relative;

}
#yanopls{
    height: 90%;
    position : relative;
    margin-top: 0%;
        margin: auto;
        padding: 25px;
        
}
*[type="text"]{
    
    height:6.5vh;
    border-radius: 5px;
    -webkit-text-transform: uppercase;
    border: 2px solid rgba(162, 0, 44,0.7);
    outline: none;
}
*[type="text"]:hover{
    border: 2px solid #ff9900;
}

#Registra{
    color:#fff;
    background: #cc0066;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 1px 10px 0px black;
    font-size: 1.3em;
    width: 13vw;
    height: 6vh;
    border-radius: 15px;
    transition: .5s;
    cursor: pointer;
    border: 2px solid rgba(162, 0, 44,0.7);
    margin-top: 0;
    
}
#Registra:hover{
    -webkit-transform: scale(0.95);
    background: #ff9900;
    border: 3px solid #ff9900;
    
}
textarea{
    resize: none;
    width: 95%;
    height:180px;
    font-family: 'Poppins', sans-serif;
    border: 2px solid rgba(162, 0, 44,0.7);
    border-radius: 5px;
    margin-bottom: 2px;
}
textarea:hover{
    border: 2px solid #ff9900;
}

*[type="file"]{
background-color: #ff9900;
color: white;
margin-bottom: 0px;
}
#Nombre{
    width: 74%;
}
#Edad{
    width: 24%;
}
select{
    height:6.5vh;
    border-radius: 5px;
    border: 2px solid rgba(162, 0, 44,0.7);
    outline: none;
}
select:hover{
    border: 3px solid #ff9900;
}
#aloo{
    align-content: center;
}