<header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color: black; height: 9%; opacity: 0.9;">
          
          <a class="navbar-brand" href="/" style="margin-left: 1%;">ParseCare</a>
          
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/inicio">Comunidad <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/biblioteca">Biblioteca</a>
                </li>
    
              <li class="nav-item">
                <a class="nav-link" href="/login">Iniciar Sesion</a>
              </li>
              
              <li class="nav-item">
                  <a class="nav-link" href="/soporte">Soporte Tecnico</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cultura">Conocenos!</a>
                  </li>
                
            </ul>
            <form class="form-inline mt-2 mt-md-0" style="margin-right: 1%;">
              
              <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
    
        </nav>
      </header>
      
      <div>
        <img src="https://firebasestorage.googleapis.com/v0/b/parsecare.appspot.com/o/pictures%2F1559987394593.jpg?alt=media&token=882ce8e3-dbfe-4c1d-b0d1-af8f53d7fa6b"style="width: 100%; height: 500px" class="d-block w-100" alt="...">
      </div>
      <div style="width: 100%; height: 1200px; background-color: white">
        <br>
            <div class="container marketing" style="margin-left: 15%">

                    <!-- Three columns of text below the carousel -->
                    <div class="row">
                      <div class="col-lg-4">
                        <img class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/parsecare.appspot.com/o/pictures%2F1557204755336.jpg?alt=media&token=b07cde5a-1015-4469-ae2b-d15f8dd8b907" alt="Generic placeholder image" width="140" height="140">
                        <h2>Pez Dorado</h2>
                        <p>Un pez tranquilo que convive muy bien con otras especies. Tienen colores uniformes rojo, blanco, naranja. 
                                Pueden alcanzar un tamaño de 20cm y viven de 15 a 40 años aproximadamente..
                        </p><br>
                        <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                Mas Detalles
                              </button>
                            </p>
                              <!-- Modal -->
  <div  class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="margin-left: 35%;">
        <div style="width: 50%" class="modal-dialog modal-dialog-centered" role="document">
          <div style=" width: 100%;" class="modal-content">
            <div class="modal-header">
                <br><h1 style="color:white; margin-left: 7%;"><br>Pez Dorado</h1><br>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br>
            <textarea style="height: 500px; width: 95%; margin-left: 2%;  color:white;">

            Alimentacion: Comida para peces (hojuelas y bolitas), 
            peces mas pequeños.

            Cuidados: Es recomendable adquirir una pecera de 
            no menos de 100 litros. Esta debe ser decorada con 
            piedras pequeñas y arena gruesa.
            
            Horariosdecomida: 4 a 6 veces al día en pequeñas 
            proporciones
            
            PH: 6.8 y 7.6. 
           
            Temperatura: 16°
            
            Tipo de agua: Dulce
        </textarea>
            <br>
          </div>
        </div>
      </div>
                            
                      </div><!-- /.col-lg-4 -->
                      <div class="col-lg-4">
                        <img class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/parsecare.appspot.com/o/pictures%2F1557205145964.jpg?alt=media&token=aa56eec0-fb29-4b9b-a886-6fc7194b9e0c" alt="Generic placeholder image" width="140" height="140">
                        <h2>Pez Angel</h2>
                        <p>Normalmente es bastante tranquilo, pero no puede llevarse bien con especies muy pequeñas.
                                Van de plata maciza con rayas de colores o de mármol negro y plata.
                                Estos peces pueden vivir diez años o más y alcanzan una longitud de 6 a 8 pulgadas.
                        </p>
                        <p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                Mas Detalles1
                              </button>
                            </p>
                              <!-- Modal -->
  <div  class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="margin-left: 35%;">
        <div style="width: 50%" class="modal-dialog modal-dialog-centered" role="document">
          <div style=" width: 100%;" class="modal-content">
            <div class="modal-header">
                <br><h1 style="color:white; margin-left: 7%;"><br>Pez Angel</h1><br>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <br>
            <textarea style="height: 500px; width: 95%; margin-left: 2%; color:white;">
    
        Alimentacion: Alimentación variada (alimento para peces, 
        larvas de mosquitos, gusanos blancos, peces pequeños).
        
        Cuidados: Cambios de agua semanales.

        Horarios de alimentación: De 4-6 veces al día en pequeñas 
        proporciones.
        
        PH: 6,0 - 7,5.
        
        Temperatura: 75°F y 84°F.

        Tipo de agua: Dulce
                    
            
        </textarea>
            <br>
          </div>
        </div>
      </div>
                      </div><!-- /.col-lg-4 -->
                      <div class="col-lg-4">
                        <img class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/parsecare.appspot.com/o/pictures%2F1557205187888.jpg?alt=media&token=579d4ea4-a1d2-416e-b107-40649288c1f6" alt="Generic placeholder image" width="140" height="140">
                        <h2>Betta</h2>
                        <p>El betta macho es un pez extremadamente territorial, pelearán con cualquier otro macho que se meta en su territorio y algunas veces con peces de otras especies.
                            Viven de 3 a 5 años y en promedio tienen una longitud de 7,5 cm.
                        </p>
                        <p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
                                        Mas Detalles1
                                      </button>
                                    </p><br>
                                    
                                      <!-- Modal -->
          <div  class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="margin-left: 35%;">
                <div style="width: 50%" class="modal-dialog modal-dialog-centered" role="document">
                  <div style=" width: 100%;" class="modal-content">
                    <div class="modal-header">
                        <br><h1 style="color:white; margin-left: 7%;"><br>Betta</h1><br>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <br>
                    <textarea style="height: 500px; width: 95%; margin-left: 2%; color:white;">
    
        Alimentacion: Los peces Betta salvajes se alimentan 
        principalmente de alimento especial para peces y peces mas 
        pequeños
        
        Cuidados: Cambios parciales de agua cada 15 días.
        
        Horariosdecomida: 4 a 6 veces al día en pequeñas 
        proporciones
        
        PH: 6.5-7
        
        Temperatura: 78°F a 82°F.
        
        Tipo de agua: Dulce
    
                </textarea>
                    <br>
                  </div>
                </div>
              </div>
                      </div><!-- /.col-lg-4 -->
                    </div><!-- /.row -->
                    <br><hr size="10" style="background-color: #D0ECE7; width: 100%;"/><br>
                    <div class="row">
                            <div class="col-lg-4">
                              <img class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/parsecare.appspot.com/o/pictures%2F1557205214025.jpg?alt=media&token=cd073342-c928-4683-998c-00352a324cc3" alt="Generic placeholder image" width="140" height="140">
                              <h2>Pez Cebra</h2>
                              <p>Estos peces son muy tranquilos y fáciles de cuidar, pueden convivir con más especies sin ningún problema.
                              Tiene franjas de color azul, viven de 3 a 4años y miden de 3 a 5 centímetros de largo y un centímetro de alto.
                            </p>
                            <p>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                                    Mas Detalles1
                                  </button>
                                </p>
                                  <!-- Modal -->
      <div  class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="margin-left: 35%;">
            <div style="width: 50%" class="modal-dialog modal-dialog-centered" role="document">
              <div style=" width: 100%;" class="modal-content">
                <div class="modal-header">
                    <br><h1 style="color:white; margin-left: 7%;"><br>Pez Cebra</h1><br>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <br>
                <textarea style="height: 500px; width: 95%; margin-left: 2%; color:white;">

            Alimentacion: Comida para peces o pequeños peces.

            Cuidados: Al llenar el acuario nunca debes cubrirlo 
            por completo, se debe dejar luz pasar a la pecera

            Horariosdecomida: 4 a 6 veces al día en pequeñas 
            proporciones

            PH: 7.3-7.5

            Temperatura: 65°F y 75°F

            Tipo de agua: Dulce
                        

            </textarea>
                <br>
              </div>
            </div>
          </div>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4">
                              <img class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/parsecare.appspot.com/o/pictures%2F1557205327521.jpg?alt=media&token=e0031838-d52e-4e60-a699-d5cfff9c49e5" alt="Generic placeholder image" width="140" height="140">
                              <h2>Guppy</h2>
                              <p>Estos Peces son muy sociables e interactúan con otros peces.
                                    La cola del guppy es naranja y el cuerpo es gris (generalmente), viven unos 2 años y en promedio mide 5cm.
                              </p>
                              <p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                                          Mas Detalles1
                                        </button>
                                      </p>
                                        <!-- Modal -->
            <div  class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="margin-left: 35%;">
                  <div style="width: 50%" class="modal-dialog modal-dialog-centered" role="document">
                    <div style=" width: 100%;" class="modal-content">
                      <div class="modal-header">
                          <br><h1 style="color:white; margin-left: 7%;"><br>Pez Cebra</h1><br>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <br>
                      <textarea style="height: 500px; width: 95%; margin-left: 2%; color:white;">
      
        Alimentacion: Comida para peces o pequeños peces.
        
        Cuidados: Al llenar el acuario nunca debes cubrirlo 
        por completo, se debe dejar luz pasar a la pecera
        
        Horariosdecomida: 4 a 6 veces al día en pequeñas 
        proporciones
        
        PH: 7.3-7.5
        
        Temperatura: 65°F y 75°F
        
        Tipo de agua: Dulce
                              
      
                  </textarea>
                      <br>
                    </div>
                  </div>
                </div>
                            </div><!-- /.col-lg-4 -->
                            <div class="col-lg-4">
                              <img class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/parsecare.appspot.com/o/pictures%2F1557205354209.jpg?alt=media&token=1e513e23-6283-4846-ab11-56b940b461a3" alt="Generic placeholder image" width="140" height="140">
                              <h2>Gurami</h2>
                              <p>Es un pez tímido, solitario y pacífico, que con convive bien con otras especies tranquilas y no suele dar problemas, existen en colores muy variados.
                                Viven unos 3 años y llegan a medir de 10 cm a 30 cm.
                              </p>
                              <p>
                              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                                    Mas Detalles1
                                  </button>
                                </p>
                                  <!-- Modal -->
      <div  class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="margin-left: 35%;">
            <div style="width: 50%" class="modal-dialog modal-dialog-centered" role="document">
              <div style=" width: 100%;" class="modal-content">
                <div class="modal-header">
                    <br><h1 style="color:white; margin-left: 7%;"><br>Pez Cebra</h1><br>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <br>
                <textarea style="height: 500px; width: 95%; margin-left: 2%; color:white;">

            Alimentacion: Comida para peces o pequeños peces.

            Cuidados: Al llenar el acuario nunca debes cubrirlo 
            por completo, se debe dejar luz pasar a la pecera

            Horariosdecomida: 4 a 6 veces al día en pequeñas 
            proporciones

            PH: 7.3-7.5

            Temperatura: 65°F y 75°F

            Tipo de agua: Dulce
                                    

            </textarea>
                <br>
              </div>
            </div>
          </div>
                            </div><!-- /.col-lg-4 -->
                          </div><!-- /.row -->
                            <br><hr size="10" style="background-color: #D0ECE7; width: 100%;"/><br>
                          <div class="row">
                                <div class="col-lg-4">
                                  <img class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/parsecare.appspot.com/o/pictures%2F1557205386657.jpg?alt=media&token=3448bd0b-322f-46c8-886f-d9a130c61a32" alt="Generic placeholder image" width="140" height="140">
                                  <h2>Koi</h2>
                                  <p>Es un pez social que puede convivir con otros peces de igual tamaño y con peces más pequeños.
                                        Su tonalidad es de un pardo verdoso, con reflejos dorados y azulados por su parte el vientre es blancuzco. Viven de 30 a 40 años.
                                  </p>
                                  <p>
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                                        Mas Detalles1
                                      </button>
                                    </p>
                                    
                                      <!-- Modal -->
          <div  class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="margin-left: 35%;">
                <div style="width: 50%" class="modal-dialog modal-dialog-centered" role="document">
                  <div style=" width: 100%;" class="modal-content">
                    <div class="modal-header">
                        <br><h1 style="color:white; margin-left: 7%;"><br>Pez Cebra</h1><br>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <br>
                    <textarea style="height: 500px; width: 95%; margin-left: 2%; background-color: crimson; color:white;">
    
        Alimentacion: Comida para peces o pequeños peces.
        
        Cuidados: Al llenar el acuario nunca debes cubrirlo 
        por completo, se debe dejar luz pasar a la pecera
        
        Horariosdecomida: 4 a 6 veces al día en pequeñas 
        proporciones
        
        PH: 7.3-7.5
        
        Temperatura: 65°F y 75°F
        
        Tipo de agua: Dulce
                            
    
                </textarea>
                    <br>
                  </div>
                </div>
              </div>
                                </div><!-- /.col-lg-4 -->
                                <div class="col-lg-4">
                                  <img class="rounded-circle" src="https://firebasestorage.googleapis.com/v0/b/parsecare.appspot.com/o/pictures%2F1557205416749.jpg?alt=media&token=2cd99fc5-07ce-4f5e-bff3-54400bded8d0" alt="Generic placeholder image" width="140" height="140">
                                  <h2>Limpia Peceras</h2>
                                  <p>Es un pez que requiere de suficiente espacio para nadar. Presenta hábitos nocturnos, pudiendo perturbar a otros peces.
                                        El cuerpo es de color muy variable, desde manchas negras sobre una base marrón claro hasta una coloración negra en todo el cuerpo.
                                  </p>
                                  <p>
                                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
                                        Mas Detalles1
                                      </button>
                                    </p>
                                      <!-- Modal -->
          <div  class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="margin-left: 35%;">
                <div style="width: 50%" class="modal-dialog modal-dialog-centered" role="document">
                  <div style=" width: 100%;" class="modal-content">
                    <div class="modal-header">
                        <br><h1 style="color:white; margin-left: 7%;"><br>Pez Cebra</h1><br>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <br>
                    <textarea style="height: 500px; width: 95%; margin-left: 2%; color:white;">
    
          Alimentacion: Comida para peces o pequeños peces.
          
          Cuidados: Al llenar el acuario nunca debes cubrirlo 
          por completo, se debe dejar luz pasar a la pecera
          
          Horariosdecomida: 4 a 6 veces al día en pequeñas 
          proporciones
          
          PH: 7.3-7.5
          
          Temperatura: 65°F y 75°F
          
          Tipo de agua: Dulce
                            
    
                </textarea>
                    <br>
                  </div>
                </div>
              </div>
                                </div><!-- /.col-lg-4 -->
                                <br>
                              </div><!-- /.row -->
            <br>
            
                    <!-- START THE FEATURETTES -->
            
                    <hr size="10" style="background-color: #D0ECE7; width: 100%;"/>
            
                    
                    
            
                    <!-- /END THE FEATURETTES -->
                    <br><br><br>

            
                  </div>
                  <br><br>
                  <footer style="background-color:black;">
                      <div class="pie" style="height:100px; align-content: center;">
                        <p style="margin-left: 40%; margin-top: 2%; color:white; position:absolute">
                            © UNDEFINED-SOFT S.A de C.V
                        </p>
                      </div>
                      </footer>
