<div style="height: 100%; width: 100;">

<br><br>

<mat-card class="example-card">
    <mat-card-header style="margin-left: 2%;">
      <div mat-card-avatar class="example-header-image"></div>
      
      <mat-card-title>{{publication.user.nickname}}</mat-card-title>
      <mat-card-subtitle><h6>{{publication.topic}}</h6></mat-card-subtitle>
      <br>
    </mat-card-header>
    
    <img width="91%px" height="200px" style="margin-left: 4%;" src="{{publication.archivo}}" alt="">
    <mat-card-content>
      <br>
      <p style="margin-left: 4%; width: 90%; height: 30%;">
          {{publication.contenido}}
      </p>
      <div class="modal-header">
          <h6 style="color:white; margin-left: 7%;"></h6>
          <br>
      </div>
      <br>
      
      <input type="checkbox"  id="spoiler2" /> 
  <label for="spoiler2" >Comentarios</label>
<div class="spoiler">
    <comment-container-component style="margin-left: 4%;" comments="{{publication.comments | json}}"></comment-container-component>
</div>
<p style="text-align:center;">Da click para ver todos los comentarios ;)</p>


<br>
<form (ngSubmit)="submitComment()" style="margin-left: 4%">
  <mat-form-field>
    <input name="comentario" [(ngModel)]="comentario.comentario" matInput placeholder="Escribe un comentario">
  </mat-form-field>
    <br><button mat-raised-button id="main-button">Comentar</button>
    <br><br>
</form>
    </mat-card-content>
    <mat-card-actions style="margin-left: 4%">
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <br><br>
</div>

