<mat-toolbar>
<mat-toolbar-row>
  <span>Parsecare</span>
  <span class="example-spacer"></span>
  <mat-icon class="example-icon">favorite</mat-icon>
  <mat-icon class="example-icon">delete</mat-icon>
</mat-toolbar-row>
</mat-toolbar>
<br>
<publication-container-component></publication-container-component>
<!--<ng-container *ngFor="let usuario of usuarios">
  <h1>{{usuario.nombre}}</h1>
  <h2>{{usuario.apellidos}}</h2>
  <h2>{{usuario.correo}}</h2>
  <h2>{{usuario.nickname}}</h2>
</ng-container>-->
