CULTURA
<div class="bd-example">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://firebasestorage.googleapis.com/v0/b/parsecare.appspot.com/o/pictures%2F1553574203731.jpg?alt=media&token=d4000ea9-216f-4a6c-8196-8adce8262543"style="width: 500px; height: 400px" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
              </div>
            </div>
          </div>
        </div>
      </div>